<h4>Guias Pendientes</h4>
<hr>


<!-- CONTENIDO -->



<div class="row">
  <div class="col s12">
      <div  style="margin-bottom: 10px">
          <ul class="tabs teal-text z-depth-1 ">
              <li class="tab col s6">
                  <a href="#misguias">Mis Guias</a>
              </li>
              <li class="tab col s6">
                  <a href="#todas">Todas</a>
              </li>
          </ul>
      </div>
  </div>
</div>
<div class="row">
  <div class="col s12">
      <div id="misguias">

          <div *ngFor="let pedido of misPedidos" class="card">
                <div class="card-content">
                  <span (click)="copyToClipboard(pedido.nombre)" class="card-title mb"> <strong> {{ pedido.nombre }} </strong></span>
                  <div class="row">
                    <div class="col s6">
                        <div (click)="copyToClipboard(pedido.telefono)" class="mb">
                            <p>{{ pedido.telefono }}</p>
                        </div>
                        <div (click)="copyToClipboard(pedido.ciudad)" class="mb">
                            <p>{{ pedido.ciudad }}</p>
                        </div>
                    </div>
                    <div class="col s6">
                        <div (click)="copyToClipboard(pedido.direccion)" class="mb">
                            <p>{{ pedido.direccion }}</p>
                        </div>
                        <div (click)="copyToClipboard(pedido.valorTotal)"  class="mb">
                            <p>{{ pedido.valorTotal | currency:'COP':'symbol-narrow':'.0-0' }}</p>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="card-action">                       
                    <a (click)="editarGuia(pedido)">Agregar Guia</a>         
                </div>
              </div>


      
      </div>
      <div id="todas">
         
            <div *ngFor="let pedido of pedidosTodos" class="card">
                    <div class="card-content">
                      <span (click)="copyToClipboard(pedido.nombre)" class="card-title mb"> <strong> {{ pedido.nombre }} </strong></span>
                      <div class="row">
                        <div class="col s6">
                            <div (click)="copyToClipboard(pedido.telefono)" class="mb">
                                <p>{{ pedido.telefono }}</p>
                            </div>
                            <div (click)="copyToClipboard(pedido.ciudad)" class="mb">
                                <p>{{ pedido.ciudad }}</p>
                            </div>
                        </div>
                        <div class="col s6">
                            <div (click)="copyToClipboard(pedido.direccion)" class="mb">
                                <p>{{ pedido.direccion }}</p>
                            </div>
                            <div (click)="copyToClipboard(pedido.valorTotal)"  class="mb">
                                <p>{{ pedido.valorTotal | currency:'COP':'symbol-narrow':'.0-0' }}</p>
                            </div>
                        </div>
                      </div>
                    </div>
                    <div class="card-action">                       
                        <a (click)="editarGuia(pedido)">Agregar Guia</a>         
                    </div>
                  </div>


      </div>
  </div>
</div>


<div id="modal1" class="modal">
    <div *ngIf="pedidoTemporal">      
    
        <div class="modal-content">
          <h4>{{ pedidoTemporal.nombre }}</h4>
          <input name="numeroGuia" [(ngModel)]="numeroGuia" placeholder="Numero de Guia"  type="text">
        </div>
        <div class="modal-footer">
                <button class="modal-close waves-effect waves-green btn-flat">Cancelar</button>   
        <button (click)="actualizarGuia()" [disabled]="!numeroGuia" class="green-text modal-close waves-effect waves-green btn-flat"> Guardar</button>
        </div> 
    
    </div>
</div>