<h3>Bienvenido <small>Fabian David Dueñas</small></h3>
<hr>
<h4>Pedidos Pendientes</h4>
<div class="collection">
        <a href="#!" class="collection-item">Pepipo Peres</a>
        <a href="#!" class="collection-item active">Alberto Mora</a>
        <a href="#!" class="collection-item">Maria Valentina</a>
        <a href="#!" class="collection-item">Iris Agudelo</a>
      </div>
          
<div class="divider"></div>
<h4>Despachados Recientemente</h4>

<div class="collection">
  <a href="#!" class="collection-item">Pepipo Peres</a>
  <a href="#!" class="collection-item active">Alberto Mora</a>
  <a href="#!" class="collection-item">Maria Valentina</a>
  <a href="#!" class="collection-item">Iris Agudelo</a>
</div>
    
<div class="divider"></div>

<h4>Estadisticas</h4>

<div class="row" style="margin-bottom: 100px">
  <div class="col s12 m6">
    <app-grafica></app-grafica>
  </div>
  <div class="col s12 m6">
    <app-grafica></app-grafica>
  </div>
</div>


