<div id="modal1" class="modal">
    <div *ngIf="pedidoTemporal">
          <div class="modal-content">
              <h4>{{ pedidoTemporal.nombre }}</h4>
              <span>Ingrese numero de Factura:</span>
                  <div class="input-field inline">
                      <input name="numeroFactura" [(ngModel)]="numeroFactura" placeholder="Numero de Factura" minlength="1" type="text" class="validate active">
                      
                  </div> 
            </div>
            
            <div class="modal-footer">
              <button class="modal-close waves-effect waves-green btn-flat ">Cancelar</button>
              <button (click)="guardarFactura()" [disabled]="!numeroFactura" class="modal-close waves-effect waves-green btn-flat green-text">Guardar</button>
            </div>
          </div> 
  </div>
 


  <h4>Facturas</h4>
  <hr>

<!-- TABS -->

<div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s6"><a href="#pendientes">Pendiantes</a></li>
        <li class="tab col s6"><a href="#anular">Anular...</a></li>
      </ul>
    </div>
    <div id="pendientes" class="col s12">
      <div class="card" *ngFor="let pedido of pedidos">
        <div class="card-content">
          <div class="row">
            <div class="col s12 m8">
              <span class="card-title"><strong>{{ pedido.nombre | titlecase}} {{ pedido.estado == 5? '(No Imprimir)': '' }}</strong></span>
            </div>
            <div class="col s12 m4">
              <span class="card-title" ><strong>Total neto:</strong> {{ pedido.valorTotal | currency:'COP':'symbol-narrow':'.0-0'}} </span>
              <span class="card-title" ><strong>Flete y comisión:</strong> {{ -20000 | currency:'COP':'symbol-narrow':'.0-0'}} </span>
              <span style="color:green" class="card-title" ><strong>Venta neta:</strong> {{ pedido.valorTotal - 20000 | currency:'COP':'symbol-narrow':'.0-0'}} </span>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <span><strong>Medio de pago: </strong> {{ pedido.medioPago }}</span>
            </div>
          </div>
          
          
          
          <table class="centered striped">
              <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Ref</th>
                    <th>Cantidad</th>
                    <th>Valor</th>
                    <th>Sub Total</th>
                </tr>
              </thead>
      
              <tbody>
                
                <tr *ngFor="let prenda of pedido.prendas">
                  <td>{{ prenda.nombre }}</td>
                  <td>{{ prenda.sku }}</td>
                  <td>{{ prenda.cantidad }}</td>
                  <td>{{ prenda.valor | currency:'COP':'symbol-narrow':'.0-0' }}</td>
                  <td>{{ (prenda.valor * prenda.cantidad) | currency:'COP':'symbol-narrow':'.0-0' }}</td>
                </tr>
               
                 
                
              </tbody>
            </table>
            <p style="margin-top: 15px"><strong>{{ nombreUsuarios[pedido.vendedor] }}</strong> || {{ pedido.fechaVenta | date: 'dd/MM/yy'}}</p>
    
        </div>
        <div class="card-action">
          <a (click)="abrirModal(pedido)">Agregar Factura</a>
        </div>
    </div>
    
    <div *ngIf="pedidos?.length == 0" style="text-align: center; margin-top: 20px">
      <h4 class="enlinea"  >No hay facturas pendientes </h4><i  class="em em---1 emoji"></i>
    </div>

    </div>



    <div id="anular" class="col s12" >

      <ul *ngIf="porAnular.length > 0" class="collection">
        <li class="collection-item avatar" *ngFor="let pedido of porAnular; let i = index">
          <i class="material-icons circle">folder</i>
          <span class="title">{{ pedido.nombre }}</span>
          <p>Factura numero:<br>
             {{ pedido.factura }}
          </p>
          <a style="cursor: pointer" (click)="anularFactura(i)" class="secondary-content"><i class="material-icons">close</i></a>
        </li>
      </ul>

      <div *ngIf="porAnular?.length == 0" style="text-align: center; margin-top: 20px">
        <h4 class="enlinea"  >No hay facturas por anular </h4><i  class="em em-grin emoji"></i>
      </div>
  
    </div>
</div>






